p{
 
 font-family: “Comic Sans MS”;
    font-size: “50px”;
     }
  body {
    background-image: url(http://i0.kym-cdn.com/entries/icons/original/000/018/929/graphic_design_is_my_passion.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: left top;
}
  

ul{
   }
