p{
 
 font-family: “Comic Sans MS”;
    font-size: “50px”;
     }
  body {
    background-image: url(https://i.ytimg.com/vi/Xaxuihz1Kgo/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: left top;
}
  

ul{
   }
