p{
 
 font-family: “Comic Sans MS”;
    font-size: “50px”;
     }
  body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/7a/50/4b/7a504be4aa26d056d4d6f8b995520189.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: left top;
}
  

ul{
   }
